@media print {

  body {
    background: white !important;
  }


  .student-profile {

    width: 100%;

  }


  button,
  a {

    display:none !important;

  }


  .print\:hidden {

    display:none !important;

  }


  .print\:block {

    display:block !important;

  }


}